.Container {
    min-height: 343px;
    font-family: 'Noto Sans Sharada', sans-serif;
}

.smallImage {
    width: 100px;
    height: auto;
    
}

.uploadImage {
    max-width: 50px;
    height: auto;
   
}