.Beat {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    border-radius: 2px;
    margin-bottom: 16px;
    text-align: center;
    /* font-family: 'Montserrat', sans-serif; */
    /* font-family: 'Archivo Black', sans-serif; */
    font-weight: 700;
    font-family: 'Noto Sans Sharada', sans-serif;
    /* font-family: 'Kanit', sans-serif; */
}

.Beat figure,
h5 {
    margin: 0 0;
}

.Heart {
    font-weight: 400;
    font-size: 5.9rem;
    color: red;
}
.far.fa-heart {
        font-weight: 400;
            font-size: 5.9rem;
            color: red;
 
}

.Comment{
    font-weight: 400;
    font-size: 5.9rem;
    color: blue

}

.HeartOutline {
    color: #f85032;
    font-size: 5.9rem;
}

.Heart:hover {
   
    color: blue;
    font-size: 5.9rem;
}


.HeartOutline:hover {
    color: blue;
    font-size: 5.9rem;
}

.CommentOutline {
    color: #f85032;
    font-size: 5.9rem;
}

.Comment:hover {
    
    color: #f85032;
    font-size: 5.9rem;
}

.CommentOutline:hover {
    color: #f85032;
    font-size: 5.9rem;
}



.beatBar{
    float: left;
    padding-bottom: auto;
    font-weight: 400;
    font-size: 5.9rem;
    
}



@media only screen and (max-width: 768px) {
    .beatBar {
        font-size: 4rem;
        /* Adjust font size for smaller screens */
    }
}
