/* Default styles */
.Container {
    min-height: 343px;
    font-family: 'Noto Sans Sharada', sans-serif;
}

.smallImage {
    width: 100px;
    height: auto;
}

.uploadImage {
    max-width: 50px;
    height: auto;
}




@media only screen and (max-width: 390px) {
    .Container {
        min-height: 500px;
       
    }

    .text-center {
        margin-top: 20px;
       
    }

    .form-group {
        margin-bottom: 20px;
        
    }
}