.Form {
    border: none;
    border-bottom: 2px grey solid;
    font-family: 'Noto Sans Sharada', sans-serif;
}

.Button {
    border: none;
    background-color: #c1c1c5;
    color: rgba(248, 243, 243, 0.974);
    border-radius: 100px;
    padding: 4px 10px;
    min-width: 75px;
    margin: 5px;
    font-family: 'Noto Sans Sharada', sans-serif;
}

.Button:hover {
    cursor: pointer;
    background-color: red;
    color:black;
    font-family: 'Noto Sans Sharada', sans-serif;
}