.FeedbackButtons {
     display: flex;
    justify-content: flex-end; 
    float: right;
    
}


.fireIcon:hover {
    color: red;
    content: "this beat is FIRE ";
}

.fireIconContainer {
    position: relative;
    display: inline-block;
}

.fireIconText {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: red;
    font-size: 0.7rem;
    padding: 4px 8px;
    border-radius: 4px;
    white-space: nowrap;
    /* Prevent wrapping */
    opacity: 0;
    /* Initially hide the text */
    transition: opacity 0.3s ease;
}

.fireIconContainer:hover .fireIconText {
    opacity: 1;
    /* Show the text on hover */
}



.hardIcon:hover {
    color: rgb(255, 208, 0);
    content: "this beat is HARD ";
}

.hardIconContainer {
    position: relative;
    display: inline-block;
}

.hardIconText {
    position: absolute;
    top: -25px;
    /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: rgb(255, 208, 0);
    font-size: 0.7rem;
    padding: 4px 8px;
    border-radius: 4px;
    white-space: nowrap;
    /* Prevent wrapping */
    opacity: 0;
    /* Initially hide the text */
    transition: opacity 0.3s ease;
}

.hardIconContainer:hover .hardIconText {
    opacity: 1;
    /* Show the text on hover */
}


/*  */

.trashIcon:hover {
    color: green;
    content: "this beat is TRASH ";
}

.trashIconContainer {
    position: relative;
    display: inline-block;
}

.trashIconText {
    position: absolute;
    top: -25px;
    /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: green;
    font-size: 0.7rem;
    padding: 4px 8px;
    border-radius: 4px;
    white-space: nowrap;
    /* Prevent wrapping */
    opacity: 0;
    /* Initially hide the text */
    transition: opacity 0.3s ease;
}

.trashIconContainer:hover .trashIconText {
    opacity: 1;
    /* Show the text on hover */
}

/* cold */

.coldIcon:hover {
    color: blue;
    content: "this beat is COLD ";
}

.coldIconContainer {
    position: relative;
    display: inline-block;
}

.coldIconText {
    position: absolute;
    top: -25px;
    /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: blue;
    font-size: 0.7rem;
    padding: 4px 8px;
    border-radius: 4px;
    white-space: nowrap;
    /* Prevent wrapping */
    opacity: 0;
    /* Initially hide the text */
    transition: opacity 0.3s ease;
}

.coldIconContainer:hover .coldIconText {
    opacity: 1;
    /* Show the text on hover */
}


/* loop */

.loopIcon:hover {
    color: purple;
    content: "Play that again !! ";
}

.loopIconContainer {
    position: relative;
    display: inline-block;
}

.loopIconText {
    position: absolute;
    top: -25px;
    /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: purple;
    font-size: 0.7rem;
    padding: 4px 8px;
    border-radius: 4px;
    white-space: nowrap;
    /* Prevent wrapping */
    opacity: 0;
    /* Initially hide the text */
    transition: opacity 0.3s ease;
}

.loopIconContainer:hover .loopIconText {
    opacity: 1;
    /* Show the text on hover */
}