.FeedbackButtons {
     display: flex;
    justify-content: flex-end; 
    float: right;
    /* color: red; */
}

/* Define hover styles for the coldIcon */


.fireIcon:hover {
    color: red;
    content: "this beat is FIRE ";
}

.fireIconContainer {
    position: relative;
    display: inline-block;
}

.fireIconText {
    position: absolute;
    top: -25px;
    /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: red;
    font-size: 0.7rem;
    padding: 4px 8px;
    border-radius: 4px;
    white-space: nowrap;
    /* Prevent wrapping */
    opacity: 0;
    /* Initially hide the text */
    transition: opacity 0.3s ease;
}

.fireIconContainer:hover .fireIconText {
    opacity: 1;
    /* Show the text on hover */
}

/*  */
.hardIcon:hover {
    color: yellow;
    content: "this beat is FIRE ";
}
.trashIcon:hover {
    color: green;
    content: "this beat is FIRE ";
}

.coldIcon:hover {
    color: blue;
    content: "this beat is FIRE ";
}

.loopIcon:hover {
    color: purple;
    content: "this beat is FIRE ";
}

