.NavBar {
    background-color: #ffffff;
    border: 1px solid #dadadf;
    font-weight: 400;
    /* font-family: 'Times New Roman', Times, serif; */
    /* font-family: 'Kanit', sans-serif; */
    font-family: 'Archivo Black', sans-serif;
    display: flex;
    align-items: center;
}
.navBarIconsText {
    /* font-family: 'Montserrat', sans-serif; */
    font-family: 'Archivo Black', sans-serif;
}

.NavLink {
    padding: 5px;
    font-family: 'Archivo Black', sans-serif;
    font-weight: 400;
   
    
}

.Active i {
    color: red;
}


.navBarIcons{
    font-size: medium;
    padding: 5x;
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    
}
.navBarIcons:hover .navBarText {
    color: red;
    font-family: 'Archivo Black', sans-serif;
}


.navBarIconsText{
    font-weight: 400;
    font-family: 'Archivo Black', sans-serif;
    display: flex;
    align-items: center;
    
}


.navBarIcons:hover{
    color: red;
    padding: 5px;
    
}
