.WordBreak {
    word-break: break-all;
}

a {
    color: #000;
    /* Black color */
    text-decoration: none;
    /* Remove underline */
    font-weight: bold;
    /* Make text bold */
}

a:hover {
    color:red;
    /* Change color on hover */
}